.banner {
	background-image: url(../../assets/images/banner-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 123px;

	&__container {
		@media screen and(min-width:1320px) {
			max-width: 1380px;
		}
	}

	&__content {
		display: grid;
		gap: 3rem;
	}

	&__main {
		@media screen and(min-width:1320px) {
			grid-column: 3/6;
			grid-row: 1/4;
		}
	}

	&__world-class {
		position: absolute;
		width: 92px;
		top: 0px;
		left: -30px;
		@media screen and(min-width:325px) {
			width: 132px;
			top: -25px;
			left: -30px;
		}
		@media screen and(min-width:410px) {
			width: 200px;
			top: -80px;
			left: -30px;
		}
		@media screen and(min-width:760px) {
			width: 250px;
			top: -50px;
			left: -30px;
		}
		@media screen and(min-width:1320px) {
			top: -50px;
			left: -120px;
		}
	}

	&__title-block {
		position: relative;
		margin-bottom: 2rem;
		@media screen and(min-width:410px) {
			margin-right: 2.5rem;
		}
	}

	&__title {
		font-size: 7rem;
		color: #fff;
		font-weight: 700;
		text-align: end;
		line-height: 8rem;
		&--left {
			display: inline-block;
			width: 90%;
			text-align: start;
			@media screen and(min-width:325px) {
				width: 80%;
			}
			@media screen and(min-width:1320px) {
				width: 100%;
			}
		}
	}

	&__decore-line {
		position: absolute;
		top: 5%;
		left: -20%;
		@media screen and(min-width:325px) {
			left: 1%;
		}
		@media screen and(min-width:410px) {
			left: 10%;
		}

		@media screen and(min-width:760px) {
			left: 50%;
			top: 10%;
		}
		@media screen and(min-width:1320px) {
			left: 58%;
			top: -2%;
		}
	}

	&__subtitle {
		color: #fff;
		font-weight: 100;
		max-width: 303px;
		margin-bottom: 2rem;
		@media screen and(min-width:760px) {
			max-width: 515px;
		}
	}

	&__scroll {
		display: none;
		@media screen and(min-width:1320px) {
			display: inline-block;
			position: absolute;
			right: 48%;
			top: 37rem;
			transform: rotate(90deg);
		}
	}

	&__scroll-link {
		color: #fff;
		transition: color 0.2s ease-in;
		&::after {
			content: "";
			position: absolute;
			transform: rotate(-90deg);
			top: 5px;
			right: -25px;
			width: 0;
			height: 0;
			border-left: 7.5px solid transparent;
			border-right: 7.5px solid transparent;
			border-top: 15px solid #fff;
		}
	}

	&__video {
		position: relative;
		margin-bottom: 2rem;
		@media screen and(min-width:1320px) {
			grid-column: 6/12;
			grid-row: 2/3;
			transform: translate(-130px, 140px);
		}
	}

	&__video-image {
		width: 100%;
	}

	&__video-play-btn {
		bottom: -10%;
		left: 60%;
		position: absolute;
		z-index: 150;
		transition: transform 0.2s ease-in;
		&:hover {
			transform: scale(1.1);
		}
	}

	&__play-video-img {
		width: 100px;
		height: 100px;
		@media screen and(min-width:760px) {
			width: 100%;
			height: 100%;
		}
	}

	&__decore-image {
		position: relative;
		margin-bottom: 6rem;
		align-self: end;
		@media screen and(min-width:1320px) {
			grid-column: 1/3;
			grid-row: 3/4;
			order: -1;
		}
	}

	&__ornament {
		position: absolute;
		bottom: -40px;
		left: 190px;
		width: 100px;
		height: 100px;
	}
}
