.header {
	position: absolute;
	z-index: 100;
	right: 0;
	left: 0;
	&__navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 123px;
	}

	&__menu-links {
		display: none;
		@media screen and(min-width:768px) {
			display: flex;
			gap: 0 50px;
		}
	}

	&__menu-link {
		font-weight: 500;
		color: #fff;
		transition:color 0.2s ease-in;
		&:hover{
			color: #ffc93e;
		}
	}
}
